.menu{
    background-color: #005883;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
    width: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}