.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #005883;
    border: 2px solid #F47920;
    border-bottom: 0px;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px solid #F47920;
    text-align: center;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a:hover:not(.active) {
    background-color: #50B748;
    color: #005883;
  }

  ol a {
    display: inline-block;
    color: #005883;
    padding: 2px 4px;
    text-decoration: none;
    border: 2px solid #50B748;
    text-align: center;
    background-color: #F47920;
  }
  
  ol:last-child {
    border-bottom: none;
  }
  
  ol a:hover:not(.active) {
    background-color: #867580;
    color: #005883;
  }

body{
    font-family: 'Franklin Gothic Medium','Arial';
}

h1{
  text-align: center;
  color: #A54686;
}

h2{
    text-align: center;
    color: #F47920;
  }

h3{
    text-align: center;
    color: #005883;
  }

  .img { 
    vertical-align: middle;

  }